body {

  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Helvetica";
  color:  #3E2723;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

[class*="col"] {
  float: left;
  /*padding: 15px; */
}

.row::after {
  content: "";
  clear: both;
  display: block;
  text.align: center;
}

.wrapper {

  display: flex;
  align-items: center;
  justify-content: center;

}

.wrapper div {

  flex: 1;
}
  div {

/*border: double cornflowerblue;*/ 
padding-bottom: 40px;
 padding-left: 20px;
 padding-right: 15px
 

} 



h1 {
    font-family: "Helvetica";
    font-size: 60px;
    color: #2B1B0F;
    text-align: left;
}

h2, h3 {
    font-family: "Helvetica";
    font-size: 30px;
  color: saddlebrown;
} 

button {
  background-color: saddlebrown;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}




ul li  {
    font-family: "Helvetica";
color: dark  #3E2723;
font-size: 18px;
}

ol li {
    color:  #3E2723;
     font-family: Helvetica;
  font-size: 18px;
}

p {
    font-family: Helvetica;
    font-style: oblique;
    font-size: 18px;
}

figcaption {
    font-family: Arial;
    color: navy;
     font-size: 12px;
     font-weight: bold;
     text-align: right;
}

.right-align {
    text-align: right;
} 

  